<div class="container-fluid d-flex flex-column p-0 h-100">
    <nav class="navbar navbar-light bg-light border-bottom ">
        <span class="navbar-brand mb-0 h1">Home Energy Tracker</span>
        <div class="navbar-text d-flex">
            Device simulator
        </div>
    </nav>
    <div class="row px-4">
        <div class="m-2 h5">
            Devices
        </div>
    </div>
    <div class="row border-top flex-grow-1 px-4">
        <div class="col-6 border-right">
            <div class="rounded  page-header">
                <div class="h5 mb-0">
                    Add new Device
                </div>
            </div>
            <div class="row rounded mt-2 ">
                <form [formGroup]="deviceForm" class="col-12">

                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" formControlName='name' class="form-control" placeholder="Tube light">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Token:</label>
                        <div class="col-sm-10">
                            <textarea row='2' formControlName='token' class="form-control"
                                placeholder="Device token"></textarea>
                        </div>
                    </div>


                    <div class="form-group row ">
                        <button (click)="addDevice()" class="ml-3 btn btn-primary">Add</button>
                        <button class="ml-2 btn btn-outline-secondary" (click)="clearForm()">Clear</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-6">
            <table class=" mt-2 table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Device Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let device of deviceList; let index = index">
                        <th scope="row">{{index + 1}}</th>
                        <td>{{device.name}}</td>
                        <td><span [ngClass]="{
                            'text-danger': device.status !== 'Stopped' && device.status !== 'Running',
                            'text-success': device.status === 'Running',
                            'text-warning': device.status === 'Stopped'
                        }">{{device.status}}</span></td>
                        <td>
                            <button *ngIf="!device.started; else stopBtn" (click)='startDevice(device)'
                                class="btn btn-primary">Start</button>
                            <ng-template #stopBtn>
                                <button class="btn btn-danger" (click)='stopDevice(device)'>Stop</button>
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>