<div class="rounded border p-2 page-header">
    <span class="h5 mb-0">Devices</span>
    <button class="btn btn-link" routerLink='/devices/add'><i class="fa fa-plus"></i></button>
</div>
<div class="rounded mt-2 ">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Device</th>
                <th scope="col">Description</th>
                <th scope="col">Power (In watts)</th>
                <th scope="col">Token</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let device of deviceList; let index = index">
                <th scope="row">{{start+index}}</th>
                <td>{{device.name}}</td>
                <td>{{device.description}}</td>
                <td>{{device.powerInWatts | number : '1.2-2'}} Watts</td>
                <td>
                    <button (click)='getToken(device)' *ngIf="!device.token; else tokenTemplate"
                        [disabled]='device.gettingToken' class="btn btn-primary">
                        {{device.gettingToken ? 'Getting token...' : 'Get token'}}</button>
                    <ng-template #tokenTemplate>
                        <p class="token-display">{{device.token}}</p>
                    </ng-template>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="totalPages > 1" class="d-flex justify-content-between border-top pt-2">
        <div class="form-group d-flex">
            <select (change)="changeLimit($event.target.value)" class="form-control">
                <option [value]='5'>5</option>
                <option [value]='10'>10</option>
                <option [value]='15'>15</option>
                <option [value]='20'>20</option>
                <option [value]='25'>25</option>
            </select>
        </div>

        <nav>
            <ul class="pagination">
                <li class="page-item" *ngIf="currentPage !== 1">
                    <a (click)="changeCurrentPage(currentPage-1)" class="page-link">Previous</a>
                </li>
                <li *ngFor="let page of totalPagesArray" [ngClass]='{ "active": page === currentPage }'
                    class="page-item"><a (click)="changeCurrentPage(page)" class="page-link">{{page}}</a></li>
                <li class="page-item" *ngIf="currentPage !== (totalPages)">
                    <a class="page-link" (click)="changeCurrentPage(currentPage+1)">Next</a>
                </li>
            </ul>
        </nav>



    </div>
</div>